<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>
        <ul class="grid-list">
            <% categories.forEach(category=> { %>
                <li>
                    <img src="/images/<%= category.category_image %>" alt="<%= category.category_name %> icon">

                    <strong>
                        <a href="/category/<%= category.category_id %>">
                            <%= category.category_name %>
                        </a>
                    </strong>

                    <p class="category-desc">
                        <%= category.category_description %>
                    </p>

                    <a href="/category/<%= category.category_id %>" class="btn-small">View Projects</a>
                </li>
                <% }); %>
        </ul>
    </main>

    <%- include('partials/footer') %>