<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <% if (organizations && organizations.length) { %>
            <p>Here are a few of our partner organizations:</p>
            <ul>
                <% organizations.forEach((organization) => { %>
                    <li>
                        <% if (organization.logo_filename) { %>
                            <img src="/images/<%= organization.logo_filename %>" alt="<%= organization.name %> logo">
                        <% } %>
                        <strong><%= organization.name %></strong>: <%= organization.contact_email %>
                        <p><%= organization.description %></p>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>No organizations found.</p>
        <% } %>
    </main>

    <%- include('partials/footer') %>